<div class="nav">
  <nav>
      <ul>
          <li class="navstd"><a href="https://vtc.pipewarp.co.uk">Home</a></li>
          <li class="navstd"><a href="/assets/videos/top_secret.mp4">Projects</a></li>
          <li class="navstd"><a href="/about">About</a></li>
          <li class="navimg"><a href="https://github.com/Very-Terrible-Code" target="_blank"><i class="fab fa-github fa-styles-goo"></i></a></li>
          <li class="navimg"><a href="https://discord.gg/H4GPtse7hg" target="_blank"><i class="fab fa-discord fa-styles-goo"></i></a></li>
          <li class="navimg"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-patreon fa-styles-goo"></i></a></li>
      </ul>
  </nav>
</div>
