<div class="nav">
  <nav>
      <ul>
          <li class="navstd"><a href="/">Sex!</a></li>
          <li class="navstd"><a href="/">Sex?</a></li>
          <li class="navstd"><a href="/">Sex :(</a></li>
          <li class="navimg"><a href="https://github.com/Very-Terrible-Code" target="_blank"><img src="https://cdn.ncxprogramming.com/file/image/navbar/github64px.png" style="width:32px;height:32px;"/></a></li>
          <li class="navimg"><a href="https://discord.gg/sorrybutwedon'thaveaseverrightnowhaveaniceday" target="_blank"><img src="https://cdn.ncxprogramming.com/file/image/navbar/discord.png" style="width:32px;height:32px;"/></a></li>
          <li class="navalt"><a href="/">Sex.</a></li>
      </ul>
  </nav>
</div>
