<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ page.title }} | {{ site.title }}</title>
      <meta property="og:title" content="Test">
      <meta property="og:locale" content="en_US">
      <meta name="description" content="{{ page.title }} | {{ site.title }}">
      <meta property="og:description" content="{{ page.title }} | {{ site.title }}">
      <link rel="canonical" href="https://vtc.pipewarp.co.uk/">
      <meta property="og:url" content="https://vtc.pipewarp.co.uk/">
      <meta property="og:site_name" content="Very Terrible Code">
      <meta property="og:image" content="https://vtc.pipewarp.co.uk/icon.png">
      <link rel="icon" type="image/png" href="/icon.png"/>
      <link rel="stylesheet" href="/css/styles.css" media="all">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://kit.fontawesome.com/ab04ed72d4.js" crossorigin="anonymous"></script>
      <script src="/js/index.js"></script>
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
  </body>
</html>
